<app-header
  [bgColor]="'var(--color--bgh)'"
  [logoColor]="'#04183E'"
  [isButton]="true"
></app-header>
<section class="material container">
  <div class="material__body d-flex justify-content-center">
    <div class="material__title">
      <h1 class="font-family--poppins fs-72 fw-700">
        Conheça a jornada<br>do Trakto Edu
      </h1>
      <h2 class="fs-32 fw-400">O design como ferramenta educadora.</h2>
    </div>
    <div class="material__banner">
      <img class="material__img" src="assets/images/banner_pessoa.svg" alt="" />
    </div>
  </div>
  <div class="">
    <app-card-conteudos [documents]="documents"></app-card-conteudos>
  </div>
</section>
