/* You can add global styles to this file, and also import other style files */


:root {
  --bs-body: #EFF2F9;
  --bs-body-color: #adb5bd;
  --bs-body-bg: #212529;
  --bs-border-color: #495057;
  --brand: #0095FF;
  --brand-light: #66AFFF;
  --Neutral-light: #E4EBFB;
  --brand-green: #1DC763;
  --neutral-darkest: #04183E;
  --danger: #dc3545;
  --color-primary: #252323;
  --color-btn:  #7183A6;
  --color--bgh: #FFFFFF;

}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.font-family--poppins {
  font-family: "Poppins", sans-serif;
}

.text-center {
  text-align: center;
}

.text-danger {
  color: var(--danger);
}

.bg-primary {
  background-color: var(--color-primary);
  ;
}

.d-flex {
  display: flex;
}

.justify-content {
  &-start {
    justify-content: start;
  }
  &-end {
    justify-content: end;
  }
  &-center {
    justify-content: center;
  }
  &-around {
    justify-content: space-around;
  }
  &-between {
    justify-content: space-between;
  }
}
.align-items {
  &-start {
    align-items: start;
  }
  &-end {
    align-items: end;
  }
  &-center {
    align-items: center;
  }
}

.fs-12 {
  font-size: 12px;
}

.fs-20 {
  font-size: 20px;
}

.fs-48 {
  font-size: 48.92px;
}

.fs-72 {
  font-size: 72px;
}

.fs-32 {
  font-size: 32px;
}

.fw-700 {
  font-weight: 700;
}

.fw-bold {
  font-weight: bold;
}

.fw-normal {
  font-weight: normal;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.form-label {
  margin-bottom: 0.5rem;
  display: block;
  // color: var(--brand);
  &:focus-visible {
    color: var(--brand);
    outline: none;
  }
}

.form-control {
  display: block;
  height: 48px;
  box-sizing: border-box;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-clip: padding-box;
  border: 1px solid var(--Neutral-light);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:focus-visible {
    outline: 3px solid var(--brand-light);
  }
}

.form-control.ng-invalid.ng-touched {
  outline: solid 1px var(--danger);
}

.w-100 {
  width: 100%;
}

.btn {
  padding: 16px 8px;
  width: 100%;
  font-size: 14px;
  border-radius: 4px;

  &-brand--green {
    background-color: var(--brand-green);
    border: none;
    color: #FFF;
  }
  &-brand--red {
    background-color: var(--brand-red);
  }

  .btn--outline {
    border: 1px solid var(--color-btn);
    width: 254px;
    height: 56px;
    border-radius: 8px;
    background-color: var(--color--bgh);
  }
}
.mt-24 {
  margin-top: 24px;
}
.container {
  padding: 0 65px;
  margin: 0 auto;
}
