.card {
   Width: 431px;

   &:hover{
    cursor: pointer;
    opacity: 0.7;
   }

  &__text {
    margin: 0;
    text-align: center;
    color: var(--color-white);
  }
  &__dash {
    width: 28px;
    height: 4px;
    margin: 0 auto;
    margin-bottom: 32px;
  }

}
